flask                                                                                                                                                                
mysql.connector-python 
pandas
openpyxl
bs4
CORS
scikit-learn
numpy
flask_cors
python-telegram-bot
python-telegram-bot[webhook]
hypercorn
python-dotenv